<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxWS9vZwuXdARTYm8tlxN25gl0bu70VTM</string>
	<key>GCM_SENDER_ID</key>
	<string>94245567496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>quizapp-a8f48</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-a8f48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94245567496:ios:bac0da1f17d9b62775e5bd</string>
</dict>
</plist>